[Unit]
Description=Node.js DocumentDB Application
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/AWS-Labs/project5-documentdb
ExecStart=/usr/bin/node app.js
Restart=on-failure
RestartSec=10
Environment=NODE_ENV=production
Environment=DB_HOST=docdb-2025-05-11-14-04-57.cluster-ctoc2qsmye19.us-east-1.docdb.amazonaws.com
Environment=DB_PORT=27017
Environment=DB_USER=daniel
Environment=DB_PASSWORD=12345678
Environment=DB_NAME=myapp
Environment=CA_CERT_PATH=/home/ubuntu/AWS-Labs/project5-documentdb/global-bundle.pem
Environment=NODE_OPTIONS="--max-old-space-size=512"

[Install]
WantedBy=multi-user.target 